body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(to bottom right, #158f60, #9be15d);
}

h1 {
  color: #333;
}

h2 {
  background: linear-gradient(to right, #f0f321, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

form {
  margin-bottom: 20px;
}

input,
textarea,
button {
  margin-top: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.product h3 {
  margin-top: 0;
  color: #333;
}

.product p {
  margin-bottom: 5px;
  color: #666;
}

.product button {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.product button:hover {
  background-color: #d32f2f;
}
.delete-link {
  color: rgb(228, 84, 84);
}
